
// App specific styles



// Window styles

*::-webkit-scrollbar-track
    border-radius: 0px
    background: #F0F0F0

*::-webkit-scrollbar
    width: 12px
    background-color: #FFF

*::-webkit-scrollbar-thumb
    border-radius: 0px
    background-color: #5BC0DE

html
    border: 2px solid #008CBA

body
    overflow: hidden



/* Navigation */

.dragon
    -webkit-app-region: drag

.dragoff
    -webkit-app-region: no-drag

.navIcons
    float: right
    margin-right: 17px
    a
        line-height: 21px
        padding: 19.5px 13.5px
        color: #FFF
        font-size: 15px
        text-decoration: none
        &:hover
            color: #375A7F

.navbar-inverse .navbar-nav>li>a
    padding: 12px 17px 12px 17px
    margin-top: -1px



/* Basic App Styles */

.navbar .applicationName
    position: relative
    top: 4px

.outputContainer img
    max-width: 100%
    margin: 0px auto 10px auto

.spinner
    display: block
    height: 28px

#appHolder
    height: 418px
    margin-top: 1px
    overflow: auto



/* Settings */

#settingsModal .modal-body
    overflow: auto

#repeatsSlider
    width: 96%



/* Media Queries */

@media (min-width: 768px)
    .navIcons
        display: none