
/* The download buttons for specific to each OS */

.linux .dl-btn-win,
.mac .dl-btn-win,
.dl-btn-lin,
.dl-btn-osx
    display: none

.dl-btn-win,
.dl-btn-osx
    height: 60px

.dl-btn-win,
.dl-btn-osx,
.linux .dl-btn-lin
    background: #FD7349
    margin: 0px auto 16px auto
    padding: 0px
    color: #FFF
    font-family: "Ruda", sans-serif
    font-size: 27px
    font-weight: 700
    line-height: 65px
    text-align: center
    overflow: hidden

.mac .dl-btn-osx,
.linux .dl-btn-lin
    display: block

.linux .dl-btn-lin
    padding: 10px 0px 0px 0px
    font-size: 25px

.dl-btn-lin a
    display: inline-block
    width: 50%
    padding: 2px 0px 6px 0px
    font-size: 30px

.dl-btn-win:hover,
.dl-btn-osx:hover,
.dl-btn-lin a:hover
    background: #F15322

.dl-btn-win,
.dl-btn-lin,
.dl-btn-osx
    a
        color: #FFF

.dl-btn-win,
.dl-btn-lin,
.dl-btn-osx
    a:hover,
    a:active,
    a:visited,
    a:focus
        text-decoration: none
